#root {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.center-main {
  width: 100%;
  height: fit-content;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;


  justify-content: center;
  align-items: flex-start;
  padding: 0 1em;
  position: relative;
}

.main-windows {
  width: 100%;
  height: fit-content;
  position: static;
  width: 100%;
  max-width: 1080px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: row;
  margin-bottom: 3em;
}

.dropdown-divider {
  width: 100%;
}


/* MAINS */
.mainleft {
  aspect-ratio: 16/9;
  width: 68%;
  padding: 0 1em;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;
  gap: 3.5em;
}

.mainright {
  aspect-ratio: 9/21;
  width: 32%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

}


/* MAIN LEFT*/
.main-photo {
  aspect-ratio: 16/9;
  width: 100%;
  border: 1px solid #b9b8b8;
  text-align: end;
  position: relative;
  border-radius: 5px;
}

.main-photo>img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.image-text {
  position: absolute;
  top: 20%;
  left: 0%;
  width: 60%;
  font-size: 1.4rem;
  font-style: italic;
  padding: 0.5em;
  color: #404040;
  color: #ffff;
}

.artists-conf {
  display: flex;
  flex-direction: column;
  gap: 0em;
}

.topic-text {
  font-size: 1.6em;
  color: #353535;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.artists-container {
  aspect-ratio: 16/1;
  width: 100%;
  border: 1px solid #808080;
  background-color: #c0c0c0;
  border-radius: 5px;
  padding: 1.5em 4em;
  position: relative;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}



.artists-container>p {
  margin: 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

@keyframes pairar {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

.pmini {
  padding-left: 2.2em;
  animation: pairar 3.7s infinite ease-in-out;
}

.pmini2 {
  padding-left: 1.5em;
  animation: pairar 1s infinite ease-in-out;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pmid {
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 50px;
  animation: pairar 3s infinite linear;
  font-style: italic;
}

.pbig {
  font-size: 2em;
  padding-left: 40px;
  animation: pairar 4s infinite linear;
}

.pbig1 {
  font-size: 2.5em;
  padding-left: 70px;
  animation: pairar 5s infinite linear;
}



.jobs-container {
  width: 100%;
  text-align: start;
  position: relative;
  padding: 0em;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.box>h1 {
  font-size: 6em;
  color: #404040;
  font-weight: 500;
}

.box>p {
  margin: 0;
  padding-top: 3em;
}

.jobs-container>h5 {
  font-size: 2em;
  padding-left: 0;
  opacity: 70%;
  color: rgb(231, 222, 96);

}

.text-container {
  width: 100%;
  max-width: 500px;
  text-align: start;
  position: relative;
  padding: 0;
  margin-top: -1em;
}

.text-container>h2 {
  margin-bottom: 0.4em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.6em;
}

.text-container>p {
  margin-left: 2px;
  color: #353535;
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* MAIN RIGHT*/
.galeria-block {
  width: 100%;
  padding: 10px;
  padding-top: 0;
  border-radius: 5px;
  margin-left: 0.25em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.galeria-fotos {
  display: flex;
  flex-direction: column;
}

.galeria-head {
  width: 100%;
  margin-top: -6px;
  margin-bottom: 0em;
  font-size: 1.6em;
  color: #353535;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.galeria-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 2em;
}

.photo-box {
  aspect-ratio: 1/1;
  width: 49%;
  border: 1px solid #b9b8b8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

.photo-box>img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.audio-box {
  width: 100%;
  aspect-ratio: 24/5;
  border: 1px solid #b9b8b8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0em;
  max-width: 420px;
  border-radius: 8px;
}

.audio-box>audio {
  width: 100%;
}

audio::-webkit-media-controls-panel {
  background-color: #ffff;
}

.galeria-head>h5 {
  font-size: 0.9em;
}

.servicecardcontainer {
  width: 100%;
  padding: 10px;
  padding-top: 0;
  border-radius: 5px;
  margin-left: 0.25em;
  margin-top: 0em;
}

.servicecardcontainer>h5 {
  font-size: 1.4em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 520;
}

.servicesli:hover {
  color: #f0f0f0;
  background-color: #808080;
  border-radius: 2px;
  padding-left: 1em;
}

.servicecardcontainer>ul {
  padding: 0;
  line-height: 2.7em;
}

.servicecardcontainer>ul>li {
  list-style-type: none;
  cursor: pointer;
  transition: 200ms;
  max-width: 16em;
  padding-left: 0;
}

.servicecardcontainer>ul>li:hover {
  color: #f0f0f0;
  background-color: #808080;
  padding: 0 1em;
  transition: 200ms;
  border-radius: 2px;
}

i {
  padding-left: 0.5em;
  color: #00b100;
}

.form, .form2{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 4.5em;
}

.form2 {
  display: none;
}

input{
  padding: 0.5em;
  outline: none;
  border: 1px solid #b9b8b8;
}

.formtitle {
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 0.5em;
}

.formhead {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.formarea1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.formarea2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.formarea1>input {
  width: 50%;
}
.formarea2>input {
  width: 50%;
}
.formarea3>textarea {
  padding: 0.5em;
  outline: none;
  border: 1px solid #b9b8b8;
  margin-bottom: -5px;
}

#textinput{
  width: 100%;
  height: 100px;
}

.formarea4 {
  width: 100%;
}
.formarea4>input {
  width: 40%;
  padding: 0.5em;
  transition: border-color 0.25s;
}

.formarea4>input:hover {
  border-color: rgb(136, 136, 136);
}
.formarea4>input:focus,
.formarea4>input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media only screen and (max-width: 700px) {
  .main-windows {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;

    .artists-container {
      gap: 1em;
      padding: 2em 1em;
      padding-left: 2em;
    }

    .mainleft {
      width: 100%;
      padding: 0 0;
    }

    .mainright {
      width: 100%;
    }
  }

  .galeria-block {
    padding: 0px;
    margin-left: 0;
    margin-top: 0em;
  }

  .servicecardcontainer {
    margin-top: 1.8em;
    padding: 0;
    margin-left: 0;
    margin-bottom: 1em;
  }
  

  .form {
    width: 100%;
    display: none;
  }

  .form2 {
    display: flex;
    margin-bottom: 1em;
  }

  .text-container {
    margin-bottom: 2.5em;
  }
  
}

@media only screen and (max-width: 410px) {
  .image-text {
    font-size: 1em;
    bottom: 0.5%;
    right: 1%;
  }

  .GSint {
    padding-left: 0;
    font-size: 1.8em;
  }
}